body{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
.container{
    width: 1000px;
}
.left-bar{
    width: 200px;
}
.content{
    width
    : 800px;
}

.box{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}
.bg-red {
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}